In [1]:
import pandas as pd 
import numpy as np

In [11]:
df = pd.read_csv('./Datasets/Auto MPG.csv')
df = df.replace('?', np.nan)
df = df.dropna()
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504.0,12.0,70.0,1.0
1,15.0,8,350.0,165,3693.0,11.5,70.0,1.0
2,18.0,8,318.0,150,3436.0,11.0,70.0,1.0
3,16.0,8,304.0,150,3433.0,12.0,70.0,1.0
4,17.0,8,302.0,140,3449.0,10.5,70.0,1.0

In [12]:
df.shape

(392, 8)

In [13]:
df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
393,27.0,4,140.0,86,2790.0,15.6,82.0,1.0
394,44.0,4,97.0,52,2130.0,24.6,82.0,2.0
395,32.0,4,135.0,84,2295.0,11.6,82.0,1.0
396,28.0,4,120.0,79,2625.0,18.6,82.0,1.0
397,31.0,4,119.0,82,2720.0,19.4,82.0,1.0

A part

cylinders,origin -> discrete

year -> ordinal

In [32]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [23]:
discrete_columns = ['origin','cylinders']

onehotencoding = OneHotEncoder(drop='first',sparse=False)
encoded = pd.DataFrame(onehotencoding.fit_transform(df[discrete_columns]))

c:\Users\aarzo\anaconda\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [26]:
df['cylinders'].value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

In [29]:
encoded.iloc[100:120]

       0    1    2    3    4    5
100  0.0  0.0  0.0  0.0  1.0  0.0
101  1.0  0.0  1.0  0.0  0.0  0.0
102  0.0  0.0  0.0  0.0  0.0  1.0
103  0.0  0.0  0.0  0.0  0.0  1.0
104  0.0  0.0  0.0  0.0  0.0  1.0
105  0.0  0.0  0.0  0.0  0.0  1.0
106  0.0  0.0  0.0  0.0  1.0  0.0
107  0.0  1.0  1.0  0.0  0.0  0.0
108  0.0  0.0  1.0  0.0  0.0  0.0
109  0.0  1.0  1.0  0.0  0.0  0.0
110  0.0  1.0  0.0  0.0  0.0  0.0
111  0.0  0.0  1.0  0.0  0.0  0.0
112  0.0  0.0  0.0  0.0  1.0  0.0
113  1.0  0.0  1.0  0.0  0.0  0.0
114  0.0  0.0  0.0  0.0  0.0  1.0
115  0.0  0.0  0.0  0.0  0.0  1.0
116  1.0  0.0  1.0  0.0  0.0  0.0
117  1.0  0.0  1.0  0.0  0.0  0.0
118  1.0  0.0  1.0  0.0  0.0  0.0
119  1.0  0.0  1.0  0.0  0.0  0.0

In [30]:
encoded.tail()

       0    1    2    3    4    5
387  0.0  0.0  1.0  0.0  0.0  0.0
388  1.0  0.0  1.0  0.0  0.0  0.0
389  0.0  0.0  1.0  0.0  0.0  0.0
390  0.0  0.0  1.0  0.0  0.0  0.0
391  0.0  0.0  1.0  0.0  0.0  0.0

In [31]:
df['model year'].value_counts

<bound method IndexOpsMixin.value_counts of 0      70.0
1      70.0
2      70.0
3      70.0
4      70.0
       ...
393    82.0
394    82.0
395    82.0
396    82.0
397    82.0
Name: model year, Length: 392, dtype: float64>

B part